@font-face
    font-family: "Poppins"
    src: url("assets/Poppins-Black.ttf")

$main-color: #282c47

*
    color: inherit
    margin: 0
    box-sizing: border-box

body
    font-family: "Poppins"
    background-color: #181818

img
    max-width: 100%

a
    text-decoration: none
    color: $main-color
    margin-left: 2rem
    &:hover
        color: #282c47