@import "Variables"

.itemcard
    border: 3px solid $main-light-blue
    width: 20%
    height: 250px
    margin: 2rem
    border-radius: 1rem
    &:hover 
        scale: 1.1
        transition: .35s

.itemcard_image
    height: 70%
    border-top-right-radius: 0.8rem
    border-top-left-radius: 0.8rem
    padding: 1rem

.itemcard_details
    height: 30%
    background-color: $main-light-blue
    border-bottom-left-radius: 0.8rem
    border-bottom-right-radius: 0.8rem
    padding: 1rem