@font-face
    font-family: "Poppins"
    src: url("assets/Poppins-Black.ttf")

$main-red: #A31621

$main-white: #FCF7F8

$main-grey: #CED3DC

$main-petrol: #4E8098

$main-light-blue: #90C2E7
    
    
.navigation
    background-color: $main-light-blue  
    height: 60px
    display: flex
    justify-content: space-around
    align-items: center

a
    text-decoration: none
    color: $main-white
    font-size: 20px
    margin-left: 2rem
    &:hover
        color: $main-petrol

h1
    color: $main-white
