@import "Variables"
@import "Mixins"

@font-face
    font-family: "Poppins"
    src: url("assets/Poppins-Black.ttf")
      
.navigation
    @include flex-center

    

.navigation-content
    display: flex
    justify-content: space-around
    align-items: center
    background-color: $main-light-blue 
    height: 60px
    width: 100%
    max-width: 1000px

a
    text-decoration: none
    color: $main-white
    font-size: 20px
    margin-left: 2rem
    &:hover
        color: $main-petrol

.logo
    font-size: 24px
    font-weight: bold