@import "Variables"
@import "Mixins"
    
.search
    @include flex-center
    

.search-content
    background-color: $main-light-blue
    height: 50px
    display: flex
    justify-content: center
    align-items: center  
    width: 100%
    max-width: 1000px
    
.search-input
    width: 500px
    margin-top: 0
    border: none
    border-radius: 15px
    padding-left: 15px

.search-btn
    display: flex
    align-items: center
    border: none
    border-radius: 15px
    background-color: $main-petrol
    color: $main-white
    font-weight: bold
    font-size: 15px
    padding: 4px 12px 4px 10px
    margin-left: 1rem
    &:hover
        background-color: $main-red